
.parking {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.place {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.vertical {
  transform: rotate(90deg);
}

.horizontal {
  transform: rotate(0deg);
}

.available {
  background-color: green;
}

.occupied {
  background-color: red;
}
